html body {
    font-family: Arial, Helvetica, Sans-serif;
    color: rgb(248, 238, 155);
    font-size: 40px;
    letter-spacing: 5px;
    background-color: #262424;
    background-image: url(./kanyeBackground.webp);
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align: center;
}

#wrapper { background-color: rgba(25, 24, 26, 0.8);
    width: 70%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
}

h1 {
    font-size: 40px;
}

#kanyeQuoteGenerator {
    background-color: #050505;
    border: none;
    padding: 15px 32px;
    text-align: center;
    color: rgb(189, 63, 63);
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    outline: 3px solid;
    outline-color: rgb(189, 63, 63,0.5);
    outline-offset: 15px;
    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

#kanyeQuoteGenerator:hover {
    color: rgb(189, 63, 63);
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 300px;
}

img {
    width: 420px;
    filter: grayscale(100%);
}

p {
    padding: 20px;
}