html body {
    font-family: Arial, Helvetica, Sans-serif;
    color: rgb(248, 238, 155);
    font-size: 18px;
    letter-spacing: 5px;
    background-color: #262424;
    background-image: url(./kanyeBackground.webp);
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align: center;
}

#wrapper { background-color: rgba(25, 24, 26, 0.8);
    width: 70%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}

h1 {
    font-size: 40px;
}

#kanyeQuoteGenerator {
    background-color: #151515;
    border: none;
    padding: 15px 32px;
    text-align: center;
    color: grey;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}